@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=cyrillic');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    min-width: 800px;
    min-height: 400px;
}

#menu, #editor {
    display: inline-flex;
    flex-direction: column;
    height: 92vh;
    border: 1px solid #E0E0E0;
}

#menu {
    min-width: 260px;
    width: 260px;
    margin-left: 20px;
    border-radius: 6px 0 0 6px;
}

#editor {
    position: relative;
    max-width: 716px;
    min-width: 500px;
    margin-left: -1px;
    margin-right: 20px;
    border-radius: 0 6px 6px 0;
}

.top-notch {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    border-bottom: 1px solid #E0E0E0;
    /* border-radius: 6px 6px 0 0; */
}

#editor .top-notch {
    justify-content: space-between;
    border-radius: 0 6px 0 0;
}

#menu .top-notch {
    border-radius: 6px 0 0 0;
}

.search-field {
    height: 34px;
    width: 180px;
    border-radius: 6px;
    /* border: 1px solid #E0E0E0; */
    border: none;
    background-color: #eaecef;
    font-size: 15px;
    font-weight: 300;
    padding-left: 39px;
    background-image: url(icons/search.svg);
    background-repeat: no-repeat;
    background-position: 8px 8px;
}

.notes {
    padding: 0;
    margin: 0;
    overflow-y: scroll;
}

.notes::-webkit-scrollbar {
    width: 5px;
    padding-right: 10px;
}

.notes::-webkit-scrollbar-thumb
{
  border-radius: 5px;
  background-color: gray;
}

.notes::-webkit-scrollbar-track
{
  border-radius: 5px;
}

.notes > li {
    position: relative;
    list-style-type: none;
    border-bottom: 1px solid #E0E0E0;
    padding: 0 19px;
    padding-bottom: 22px;
}

.notes > li:hover {
    cursor: pointer;
}

.notes > li:last-of-type {
    border-bottom: none;
}

.notes > li .out{
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 5px;
}

.notes > li h2 {
    font-weight: 600;
    font-size: 15px;
    margin: 0;
    vertical-align: middle;
}

.notes > li button {
    display: inline-block;
    margin-right: 9px;
    height: 16px;
    margin-top: 2px;
    float: left;
    vertical-align: middle;
}

.notes > li p {
    font-size: 13px;
    line-height: 1.3;
    color: #999999;
    margin: 0;
    margin-top: 4px;
}

.note {
    overflow-y: scroll;
    padding: 48px 83px 0 83px;
}

.note::after {
    display: block;
    content: '';
    height: 60px;
}

.note h1 {
    margin: 18px 0;
    padding: 0;
    font-weight: bold;
    font-size: 28px;
}

.note h2 {
    margin: 15px 0;
    padding: 0;
    font-weight: bold;
    font-size: 24px;
}

.note h3 {
    margin: 11px 0;
    padding: 0;
    font-weight: bold;
    font-size: 20px;
}

.note p {
    /* в em`ах */
    margin: 11px 0; 
    padding: 0;
    font-size: 15px;
    line-height: 1.8;
}

.note ol, .note ul {
    padding: 0;
    margin: 11px 0;
    font-size: 15px;
    line-height: 1.8;
}

.note ul, .note ol {
    list-style: none;
}

.note ul li::before {
    color: #3C92CA;
    /* content: "\2022"; */
    content: "😎";
    padding-right: 1em;
    font-weight: 800;
}

.note ol {
    counter-reset: counter;
}

.note ol li {
    counter-increment: counter;
}

.note ol li::before {
    content: counter(counter) ". ";
    padding-right: 1em;
}

.block-edit {
    display: flex;
    justify-content: space-around;
    align-items: center;
    visibility: hidden;
    width: 0;
    opacity: 0;
    padding: 1px 25px 0 25px;
    height: 44px;
    margin-left: 83px;
    /* background-color: #F0F0F0; */
    background-color: white;
    border: #E0E0E0 1px solid;
    border-radius: 6px;
    box-shadow: #B5B5B5 0px 3px 5px -1px;
    transition: linear;
    transition-duration: 0.2s;
}

.edit {
    display: flex;
    flex-shrink: 1;
    position: absolute;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    width: 100%;
    min-height: 60px;
    right: 0;
    bottom: 0;
}

/* .edit button:not(.button-edit) {
    width: 25px;
} */

button {
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}

.edit .button-edit {
    flex-shrink: 1;
    font-size: 43px;
    font-weight: 700;
    margin: 0 30px;
}

button:hover {
    cursor: pointer;
}

.button-edit > svg {
    margin-bottom: 4px;
}

.left-edit, .left-edit > button {
    height: 34px;
}

.right-edit, .right-edit > button {
    height: 25px;
}

.left-edit, .right-edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-edit {
    margin-left: 18px;
}

.right-edit {
    margin-right: 18px;
    width: 70px;
}



/* Теги */
/* .tag {
    display: inline-block;
    background-color: #F1F308;
    border-radius: 15px;
    padding: 6px 10px;
    margin: 10px 3px 0 3px;
}

.tag:nth-of-type(2) {
    background-color: rgb(243, 8, 28);
}

.tag:nth-of-type(3) {
    background-color: rgb(28, 155, 240);
}

.tag:nth-of-type(4) {
    background-color: rgb(110, 247, 92);
} */
/* Теги */