.rdw-editor-wrapper {
    width: 100%;
    display: flex;
}

.rdw-editor-toolbar {
    width: 100%;
    padding: 1px 25px 0 25px;
    position: absolute;
    bottom: 33px;
    right: 82px;
    max-width: 498px;
    margin: 0;
    justify-content: space-between;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    z-index: 2;
}

.rdw-editor-main {
    padding: 0 83px 80px 83px;
    width: 100%;
}

.DraftEditor-root {
    height: auto;
    width: 100%;
}

.DraftEditor-editorContainer h1 {
    margin: 18px 0;
    padding: 0;
    font-weight: bold;
    font-size: 28px;
}

.DraftEditor-editorContainer h2 {
    margin: 15px 0;
    padding: 0;
    font-weight: bold;
    font-size: 24px;
}

.DraftEditor-editorContainer h3 {
    margin: 11px 0;
    padding: 0;
    font-weight: bold;
    font-size: 20px;
}

.DraftEditor-editorContainer ol, .DraftEditor-editorContainer ul {
    padding: 0;
    margin: 11px 0;
    font-size: 15px;
    line-height: 1.8;
    list-style: none;
}

.DraftEditor-editorContainer ul li::before {
    color: #3C92CA;
    /* content: "\2022"; */
    padding-right: 1em;
    font-weight: 800;
}

.DraftEditor-editorContainer ol {
    counter-reset: counter;
}

.DraftEditor-editorContainer ol li {
    counter-increment: counter;
}

.DraftEditor-editorContainer ol li::before {
    content: counter(counter) ". ";
    padding-right: 1em;
}

.rdw-image-modal, .rdw-link-modal {
    position: absolute;
    flex-direction: column;
    width: 235px;
    border: 1px solid #F1F1F1;
    padding: 15px;
    border-radius: 6px;
    z-index: 100;
    background: white;
    box-shadow: 3px 3px 5px #BFBDBD;
    height: auto;
    top: auto;
    left: -110px;
    bottom: 45px;
}

.rdw-image-modal-size {
    display: none;
}

.rdw-image-modal-header {
    display: none;
}

.rdw-image-mandatory-sign {
    display: none;
}

.rdw-image-modal-url-input {
    width: 100%;
}

.rdw-link-modal-input {
    width: auto;
}

.rdw-image-modal-url-input, .rdw-link-modal-input {
    margin-top: 5px;
    height: 25px;
    margin-bottom: 15px;
    padding: 0 5px;
    border-radius: 9px;
    background-color: #eef0f2;
    color: #868686;
    font-size: 15px;
    font-weight: 400;
    border: none;
    letter-spacing: 0.2px;
}


.rdw-image-modal-btn, .rdw-link-modal-btn {
    margin-top: 7px;
    width: 76px;
    height: 27px;
    font-size: 12px;
    background-color: white;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    font-weight: 600;
}

.rdw-image-modal-btn:focus, .rdw-link-modal-btn:focus,  {
    outline: none;
}

.rdw-image-modal-btn:last-of-type {
    display: none;
}

.rdw-link-modal-label {
    display: none;
}

.rdw-link-modal-input:first-of-type {
    display: none;
}

.rdw-link-modal-target-option {
    display: none;
}

.rdw-link-modal-btn:last-of-type {
    display: none;
}

.rdw-image-modal-btn-section {
    margin: 0px auto 0;
}

.rdw-image-modal-btn:disabled, .rdw-link-modal-btn:disabled {
  background:white;
}