.megadraft {
    width: 100%;
    padding: 50px 86px 0 86px;
    overflow: auto;
}

.megadraft::after {
    display: block;
    content: "";
    height: 70px;
    width: 100%;
    background-color: white;
}

.block__controls, .block__data {
    display: none;
}