.search-field {
    height: 34px;
    width: 186px;
    border-radius: 6px;
    border: none;
    background-color: #F5F7F8;
    font-size: 15px;
    font-weight: 300;
    padding-left: 33px;
    background-image: url(./icons/search.svg);
    background-repeat: no-repeat;
    background-position: 10px 9px;
}

.search-field:focus {
    outline: none;   
    -webkit-box-shadow:inset 0px 0px 0px 1px #e0e0e0;
    -moz-box-shadow:inset 0px 0px 0px 1px #e0e0e0;
    box-shadow:inset 0px 0px 0px 1px #e0e0e0;
    background-color: white;
}